@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    height: 100px;
    width: 100%;
    position: sticky;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);

    top: 0;
    z-index: 1;

}

.navbarInner {
    height: 100%;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLogo img {
    width: 68px;
    height: 63px;
    object-fit: cover;
}

.navLogo {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navList {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;

}

.navList a {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.container {
    width: 100%;
    margin-top: 30px;
}

.innerContainer {
    width: 100%;
    max-width: 1464px;
    margin: 0px auto;
}

.btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #002550;
    border: 1px solid #002550;
    width: 10rem;
    height: 3rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.containerImg {
    width: 100%;
    height: 25rem;
    position: relative;
}

.containerImgInner {
    width: 100%;
    height: 100%;
}

.containerImgInner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerContent {
    position: absolute;
    top:25%;
    left: 5%;
}

.header2 {
    width: 100%;
    margin-top: 30px;
    background-color: #E6EAEE;
}

.header2Inner {
    display: flex;
    align-items: center;
    gap: 25px;
    padding:  20px;

}

.header2Left,
.header2Right {
    flex: 1;
}

.header2Left img {
    object-fit: cover;
    width: 100%
}

.header2Right h2 {
    padding-bottom: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #1A1A1A;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header2Right p {
    padding-bottom: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1A1A1A; ;
    opacity: 0.6;
}

.header2Right>.btn {
    margin-top: 20px;
}

.header2Right>.btn>button {
    background: #E6EAEE;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #1A1A1A;
}
.header2Right>.btn>button>span{
    margin-left: 5px;
}

.cardContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.cardContainerTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cardContainerTitle .borderTitle {
    width: 30px;
    height: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cardContainerBtn {
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 30px;
}

.cardSingleButton {
    flex: 1;
    background-color: #F2F4F6;
    height: 60px;

}
.cardSingleButton:nth-of-type(2){
    flex: 1;
    height: 60px;
    border-bottom: 5px solid black;
}

.cardSingleButton button {
    height: 100%;
    width: 100%;
    border: none;
    padding: 12px 0px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cardSingleButton button>span:nth-of-type(1) {
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContainerCards {
    margin-top: 30px;

    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

.cardContainerCards .card {
    padding: 20px;
    flex: 1;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
}

.card img {
    width: 100%;
    border-radius: 10px;
    height: 319px;
    object-fit: cover;
    
}

.card h3 {
    padding: 10px 0px;
    color: #002550;
}

.card p {
    color: #002550;
    color: #002550;
}


.cardLink {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardLink a {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 10px 20px;
}

.cardLink a>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cardLink2 {

margin-top: 20px;
display: flex;
align-items: center;
justify-content: end;
}

.cardLink2 a {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cardContainer3 {
    margin-top: 20px;
    padding: 20px;
    background: #F2F4F6;

}

.cardContainerTop h2 {
    text-align: center;
    align-items: center;
}

.date {
    margin: 15px 0px;
}

.datelogo,
.datelogoLeft {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;

}

.none {
    display: none;
}

.form {
    width: 100%;
    margin-top: 30px;
}

.formInner {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border: 1px solid #E6EAEE;
    border-radius: 10px;
    gap: 150px;
}

.formLeft {
    flex: 2;
}

.formLeft h4 {
    padding-bottom: 20px;
}

.formLeft span {
    padding-bottom: 15px;
}

.formLeft form {
    margin-top: 20px;
}

.formRight {
    flex: 1;
}

.formRight img {
    width: 100%;
}

.form2 {
    width: 100%;

    gap: 20px;
    display: flex;
    margin-bottom: 20px;
}

.formSingle {
    flex: 1;
    position: relative;
}

.formSingle label,
.countryForm label {
    position: absolute;
    left: 25px;
    background-color: #fff;
    padding: 0px 5px;
    font-size: 12px;
    top: -10px;
}

.form2 input {
    width: 100%;
    padding: 14px 10px;
}

.formBtn {
    margin-top: 20px;
    width: 50%;
}

.formBtn button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #002550;
    border: 1px solid #002550;
    padding: 15px 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.countryForm {
    position: relative;
}

.countryForm select {
    width: 50%;
    padding: 15px 10px;
}

.footer {
    width: 100%;
    padding: 35px 0px 35px 0px;
    background: #002550;

}

.footerinner,
.lastFooter {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.footerList h3 {
    margin-bottom: 10px;
}

.footerinner li {
    list-style: none;
    margin-bottom: 10px;
}

.singleSocial {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.singleSocial .socialImg img {
    height: 24px;
    width: 30px
}

.footerinner li a {
    text-decoration: none;
    color: #fff;
}

.lastFooter {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    cursor: pointer;
}


@media (max-width:1068px) {
  .cardContainerCards {
      margin: 30px auto;
      width: 90%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
  }

  .header2 {
      margin-top: 0;
  }

  .header2Inner {
      flex-direction: column;
      padding: 20px;
  }

  .header2Left,
  .header2Right {
      flex: none;
  }

  .navList {
      display: none;
  }

}

@media (max-width:768px) {
  .cardContainerCards {
      
      display: flex;
      flex-direction: column;
  }
  .navbar {
      height: 80px;
  }
.form{
  margin-bottom: 30px;
}
  .navLogo img,
  .footerLogo img {
      width: 50px;
      height: 50px;
  }

  .footerList a,
  .socialContent p {
      font-size: 13px;
  }

  .footerinner {
      flex-direction: column;
      gap: 10px;
  }

  .singleSocial .socialImg img {
      height: 18px;
      width: 24px;
  }

  .btn button {
      height: 2.5rem;
      font-size: 13px;
      width: 8rem;
  }

  .cardContainerCards .card {
      padding: 12px;
  }

  .card img {
      height: 250px;
  }

  .containerContent {
      left: 20%;
  }

  .containerContent img {
      width: 250px
  }

  .footerinner {
      flex-direction: column;
      gap: 10px;
  }

  .lastFooter {
      gap: 8px;
      width: 90%;
      margin-top: 10px;
  }

  .lastFooter span {

      font-size: 13px;
  }


  .formInner {
      flex-direction: column;
      gap: 40px;
  }

  .cardContainerBtn {
      gap: 10px;
      margin-bottom: 20px;
  }
  .cardSingleButton{
      height: 40px;
      text-align: center;
  }
  .cardContainerBtn button>span{
      font-size: 8px;
  }

  .innerContainer {
      width: 90%
  }

  .header2Right h2,
  .cardContainerTitle h2,
  .cardContainer2 h2,
  .cardContainer3 h2 {
      font-size: 20px;
      padding-bottom: 3px;
  }

  h3 {
      font-size: 16px;
  }

  .header2Right p,
  .content p {
      font-size: 15px;
  }

  .header2Right>.btn {
      margin-top: 12px;
  }

  .header2Right>.btn>button,
  .card a,
  .card span {
      font-size: 13px;
  }

}

@media(max-width:468px) {
  .formInner{
      padding: 15px;
  }
  .containerContent {
      
      left: 10%;
  }

  .containerContent img {
      width: 200px
  }

  .footerinner {
      width: 90%;
      margin: auto;
  }

  .lastFooter {
      flex-direction: column;
  }

  .form2 {
      flex-direction: column;
      gap: 10px;
  }

  .formBtn,
  .countryForm select {
      width: 100%
  }

}